<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% include 'head.html' %}

</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
    
		{% include 'header.html' %}
		
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        
        {% include 'leftbar.html' %}
        <!-- left menu ends -->

        

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="/adminapp/">Home</a>
        </li>
        <li>
            <a href="#">Vehicle Type</a>
        </li>
    </ul>
</div>

<!-- start-->
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="" style="background-color: #575352;">
                <h2 style="color: white;"><i class="glyphicon glyphicon-edit"></i> Edit Type Details</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form role="form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Type</label>
                        <input type="text" name="tname" value="{{record.0.1}}" class="form-control" id="exampleInputEmail1" placeholder="Enter Vehical Type">
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>
                        <select class="form-control" name="tstatus">

                             {% if record.0.2 == 'Active' %}
                            <option value="Active" selected>Active</option>
                            <option value="Deactive">Deactive</option>
                            {% else %}
                            <option value="Active">Active</option>
                            <option value="Deactive" selected>Deactive</option>
                            {% endif %}
                        </select>

                    </div>
                    
                    
                    <button type="submit" class="btn btn-default" style="background-color: #575352; color: white;">Update</button>
                </form>

            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->


    
<!--End -->






    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    

    <hr>

  

    <footer class="row">
		{% include 'footer.html' %}
    </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->

{% include 'script.html' %}
</body>
</html>
